body {
  font-family: Inconsolata, Times New Roman, Arial;
  font-size: 20px;
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1#title {
  font-weight: 800;
}

.subtitle {
  display: block;
  text-align: end;
  color: grey;
}

main article {
  max-width: 1000px;
  font-size: 1.2em;
}

ul {
  text-align: start;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}
