.container {
  font-family: Inconsolata;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex-basis: auto;
}

.container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 67px;
}

.container a {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #7879f1;
}

.main {
  display: flex;
  flex: 1;
  justify-content: start;
  align-self: center;
  max-width: 75vw;
  width: 100%;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.textSection {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 8px;
  flex: 0 0 40%;
  height: fit-content;
  flex-grow: 1;
}

.textBlob {
  margin: 15px;
}

@media(min-width: 1000px) {
  .textBlob {
    width: 34vw;
  }
}

.textSection h2 {
  margin: 0px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textSection p {
  margin: 0;
  padding: 0;
}
