.button {
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

@media (max-width: 768px) {
  .button {
    font-size: .7rem;
    line-height: 20px;
  }
}


.imgBanner {
  height: 25%;
  width: 100%;
  background-color: #544f57;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.navigation {
  display: flex;
  margin-top: auto;
  transform: translate(0%, 50%);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  z-index: 1;
}

.navigation .button {
  text-align: center;
  margin: 0px 30px;
  padding: 10px;
  padding: 0px 7px;
  font-weight: bold;
  transition: 150ms;
}

.navigation .button:hover {
  text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
